
body{
    background-color: rgb(102, 100, 100);
    color: rgb(0, 255, 255);
}

.tittle{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
   
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 
}

#formulario{
    border: 1px solid white;
    border-radius: 20px;
    padding: 50px;
    
}

#text{
    border: 1px solid white;
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 40px;
}